@use "src/styles/variables.scss" as *;

.tabela-unidades-participantes {
  font-size: 12px;
  color: $blackInput;
  width: 100%;
  font-size: 14px;

  thead {
    tr {
      font-weight: 700;

      th {
        border: 1px solid $grayDisabled;
        background-color: $grayLightHeader;
        padding: 0.5em;
      }
    }
  }

  tbody {
    tr {
      td {
        border: 1px solid $grayDisabled;
        padding: 0.5em;
      }
    }
  }
}

.recreio-nas-ferias-container {
  .title {
    color: $green;
    font-size: 16px;
    font-weight: bold;
  }

  .space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .calendario {
    width: 25%;
    max-width: 240px;
  }

  .esconde-asterisco .required-asterisk {
      display: none;
  }

  .required-asterisk {
    color: #a50e05;
  }

  .verde {
    cursor: pointer;
    color: $green !important;
    font-weight: bold;
  }

  .preto {
    color: black !important;
  }

  table {
    .action-column {
      // max-width: 60px;
    }

    td {
      display: flex;
      align-items: center;
      justify-content: center;

      .excluir-botao {
        border: none;
        background-color: transparent;
      }

      button i {
        font-size: 18px;
      }
    }
  }
}

.collapse-container-unidades-participantes {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid #e3e6f0;

  div {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.modal-adicionar-unidades-educacionais {
  width: 44vw !important;
  max-width: unset !important;
}

table.recreios-cadastrados {
  width: 100%;
  .input-search {
    width: 50%;
    padding-right: 10px;
    border: none;
    &::placeholder {
      padding-right: 10px;
      text-align: right;
    }
  }

  th {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: $gray;
    border-bottom: 2px solid #a8a8a8;
    padding-bottom: 10px;
    &:first-child {
      padding-left: 20px;
    }
    width: auto;
    &:last-child {
      max-width: 150px;

      input {
        width: 80%;
      }
    }
  }

  td {
    font-size: 14px;
    padding: 15px 0;
    border-bottom: 1px solid #ebeff2;
    &:first-child {
      padding-left: 20px;
    }
    &:nth-child(2) {
      padding-left: 15px;
    }
    &:nth-child(5) {
      text-align: center;
    }
    &:nth-child(6) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}