@use "src/styles/variables.scss" as *;

.recreio-nas-ferias-container {
  .title {
    color: $green;
    font-size: 16px;
    font-weight: bold;
  }

  .space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .tabela-unidades-participantes {
    font-size: 12px;
    color: $blackInput;
    width: 98%;
    font-size: 14px;

    thead {
      tr {
        background-color: $grayLightHeader;
        font-weight: 700;

        th {
          border: 1px solid $grayDisabled;
          padding: 0.5em;
        }
      }
    }

    tbody {
      tr {
        td {
          border: 1px solid $grayDisabled;
          padding: 0.5em;
        }
      }
    }
  }

  .verde {
    cursor: pointer;
    color: $green;
  }

  table {
    .action-column {
      // max-width: 60px;
    }

    td {
      display: flex;
      align-items: center;
      justify-content: center;

      .excluir-botao {
        border: none;
        background-color: transparent;
      }

      button i {
        font-size: 18px;
      }
    }
  }
}

.modal-adicionar-unidades-educacionais {
  width: 44vw !important;
  max-width: unset !important;
}