# Note: You must create custom environment variables beginning with VITE_.
# Any other variables except NODE_ENV will be ignored to avoid accidentally
# exposing a private key on the machine that could have the same name.
# Changing any environment variables will require you to restart the development server
# if it is running.

current environment keys:
>>VITE_API_URL=http://localhost:7777
