@use "src/styles/variables.scss" as *;

.faq-card {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  margin-bottom: 1rem;
  min-height: 48px;
  overflow: hidden;
  position: relative;

  .faq-card-content {
    padding: 0.75rem 1rem 0.75rem 1.5rem;
  }

  .card-border {
    background-color: #198459;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 6px;
  }

  .card-title {
    color: $blackInput;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding-right: 1rem;
  }

  .toggle-expand {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .card-body {
    border-top: 1px solid #eee;
    color: $blackInput;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0.75rem;
    padding: 0.75rem 0 0;
  }
}