@use "src/styles/variables.scss" as *;

.card-corrigir-documentos-recebimento {
  color: $blackInput;
  font-size: 14px;

  .green-bold {
    color: $greenDark;
    font-weight: bold;
  }

  .orange-bold {
    color: $orange;
    font-weight: bold;
  }

  .subtitulo {
    color: $greenDark;
    font-size: 16px;
    font-weight: bold;
    margin: 25px 0px;
  }

  .subtitulo-documento {
    color: $greenDark;
    font-size: 15px;
    font-weight: bold;
    margin: 12px 0px;
  }
}

.aviso-documento {
  background-color: #ffffff !important;
  border-color: #FF7F00 !important;
  color:#D85E00 !important;
  padding: 8px 12px !important;
  font-size: 13px !important;

  i {
    color: #FF7F00 !important;
    font-size: 14px;
  }

  span {
    font-size: 13px !important;
  }
}
