.filtros-duvidas-frequentes {
  margin-bottom: 1.5rem;
  
  .accordionFiltros {
    .card-header,
    .card-body {
      padding-left: 0.0rem;
    }
  }

  .campos-filtros-duvidas-frequentes {
    margin-left: 10.5rem;
    row-gap: 1rem;
  }
}
