@use "src/styles/variables.scss" as *;

.tabelas-relatorio-consolidado {
  table {
    width: 100%;
    font-size: 14px;
    color: $blackInput;

    thead tr,
    tbody tr.linha-total {
      background-color: $grayLightHeader;
      border: 1px solid $grayDisabled;
      font-weight: bold;

      td,
      th {
        padding: 0.5em;

        &:not(:first-child) {
          border-left: 1px solid $grayDisabled;
        }
      }
    }

    tbody {
      tr {
        td {
          align-content: center;
          align-items: center;
          padding: 0.5em;
          border-left: 1px solid $grayDisabled;
          border-bottom: 1px solid $grayDisabled;
          &:last-child {
            border-right: 1px solid $grayDisabled;
          }
        }
        &:last-child {
          td {
            &:first-child {
              border-radius: 0 0 0 4px;
            }
            &:last-child {
              border-radius: 0 0 4px 0;
            }
          }
        }
      }
    }
  }
}

.tabela-relatorio {
  width: 100%;
  border-collapse: collapse;
}

.tabela-relatorio th,
.tabela-relatorio td {
  vertical-align: middle;
  text-align: center;
  padding: 8px;
}

.tabela-relatorio th {
  font-weight: 600;
}

.col-faixa {
  width: 32%;
}

.col-unitario {
  width: 10%;
}

.col-reajuste,
.col-total-unitario,
.col-atendimentos {
  width: 14%;
}

.col-valor-total {
  width: 10%;
}
