@use "src/styles/variables.scss" as *;

.navbar {
  height: 70px;
  .nav-bar {
    &:not(.toggled) {
      padding-left: 3rem;
    }
    &.toggled {
      margin-left: -2rem;
    }
    img {
      height: 55px;
      width: auto;
    }
    .marca-d-agua {
      width: 135px;
      height: 40px;
    }
  }
  .navbar-nav {
    padding-top: 0.5rem;
    .nav-item {
      padding-left: 30px;
      img {
        height: 28px;
      }
      p {
        text-align: center;
        color: $grayHeader;
        font-size: 10px;
      }
      .icone-verde {
        font-size: 14px;
        color: #fff;
      }
      .icone-verde-fundo {
        background-color: $green;
        border-radius: 67px;
        border: 0px;
        padding: 7px;
        font-size: 11px;
        height: 28px;
        width: 28px;
        margin: auto;
      }
    }
  }
}

.dark-content {
  .navbar {
    background-color: #202020 !important;
    .navbar-nav {
      .nav-item {
        p {
          color: #fff;
        }

        .icone-verde-fundo {
          background-color: #e7e7e7;

          .icone-verde {
            color: #3a3a3a;
          }
        }
      }
    }
  }
}

.menu-simples-mobile {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 13.5em;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 180px;

  position: absolute;
  right: 15px; // fica alinhado com o burger
  z-index: 9999;

  a {
    padding: 8px 0;
    font-size: 14px;
    color: #333;
    text-decoration: none;

    &:hover {
      color: #00854d;
    }
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  top: 36px;
  left: initial;
  right: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
