@use "src/styles/variables.scss" as *;

* {
  font-family: Roboto, sans-serif;
}

.Toastify__toast {
  width: auto !important;
  max-width: 90vw !important;
  min-width: 40vw !important;
  text-align: center;
  font-size: 16px;
  padding: 12px 24px;
  justify-content: center !important;
}

// Container
.Toastify__toast-container--top-center {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.02em;
  width: 100% !important;
  max-width: 100% !important;
  text-align: center;
  justify-content: center !important;
}

// Cores para tipos de toast
.Toastify__toast--success {
  background: $greenBackgroundToastSuccess !important;
  color: $greenToastSuccess !important;

  .Toastify__close-button {
    color: $greenToastSuccess !important;
  }

  .Toastify__progress-bar {
    background: $greenToastSuccess !important;
  }
}

.Toastify__toast--error {
  background: $redBackgroundToastError !important;
  color: $redToastError !important;

  .Toastify__close-button {
    color: $redToastError !important;
  }

  .Toastify__progress-bar {
    background: $redToastError !important;
  }
}

.Toastify__toast--warning {
  background: $yellowBackgroundToastWarning !important;
  color: $yellowToastWarning !important;

  .Toastify__close-button {
    color: $yellowToastWarning !important;
  }

  .Toastify__progress-bar {
    background: $yellowToastWarning !important;
  }
}

.Toastify__toast--info {
  background: $blueBackgroundToastInfo !important;
  color: $blueToastInfo !important;

  .Toastify__close-button {
    color: $blueToastInfo !important;
  }

  .Toastify__progress-bar {
    background: $blueToastInfo !important;
  }
}
