.card-cadastro-layout-embalagem {
  .subtitulo {
    color: #0c6b45;
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0px;

    .fa-question-circle {
      color: gray;
    }
  }

  .ant-select-selector {
    margin: 0 !important;
    height: 35px !important;
  }

  .required-asterisk {
    color: #b40c02;
    font-size: 14px;
    margin-right: 5px;
  }

  .label-imagem {
    font-size: 12px;
    margin: 0 !important;
  }
}
