@use "src/styles/variables.scss" as *;

.filtros-relatorio-dietas {
  padding-bottom: 40px;

  .botoes {
    margin-top: 25vh;
  }
}

.motivos-alteracao-ue {
  display: flex;
  flex-direction: row;

  .ckbox-outro {
    margin-right: 12px;

    &:hover {
      cursor: pointer;
    }
  }

  .label-motivo-alteracao-ue {
    color: $blackInput;
  }
}
