@use "src/styles/variables.scss" as *;

.error-msg {
  color: #a50e05;
  font-size: 12px;
}

.solicitation {
  .labels {
    font-size: 14px;
    color: $gray;
  }
}

.btn-remover-dia {
  margin-left: 8px;
}

.final-form-multi-select.multiselect-invalid {
  .dropdown-heading {
    border-color: #dc3545 !important;
  }
}

.error-or-warning-message {
  padding-top: 0px !important;
  padding-bottom: 4px !important;
}