.tag-leve-leite {
  display: inline-block;
  background-color: #90cefd;
  color: #333333;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 9px;
  line-height: 14px;
  font-weight: 600;
  white-space: nowrap;
  margin-right: 0.5rem;
  max-height: 24px;
}
