@use "src/styles/variables.scss" as *;

.ant-btn:hover {
  background-color: transparent;
  color: $green;
  border-color: $green;
}
.container-historico {
  position: relative;
}

.footer-historico {
  position: relative;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
}
.download-ocorrencias {
  color: $green;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
  width: max-content;
}
.footer-historico{
  .download-documento-entrega {
    color: $green;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    width: max-content;
  }
}
.preenchimento {
  min-height: 14.5vh;
}

.preenchimento-dados-produto {
  min-height: 0;
}

.preenchimento-dados-produto .log-selecionado-justificativa-valor {
  margin-top: 10px;
}

.dados-do-produto-empresa-container,
.dados-do-produto-criado-em-container,
.dados-do-produto-produto-container,
.dados-do-produto-marca-container,
.dados-do-produto-fabricante-container {
  display: flex;
  align-items: baseline;
  gap: 4px;
  margin-bottom: 10px;
}

.dados-do-produto-componentes-container,
.dados-do-produto-dieta-especial-container {
  margin-bottom: 10px;
}

.dados-do-produto-marca-fabricante-container {
  display: flex;
  align-items: baseline;
  gap: 24px;
}

.dados-do-produto-empresa-valor,
.dados-do-produto-criado-em-valor,
.dados-do-produto-produto-valor,
.dados-do-produto-marca-valor,
.dados-do-produto-fabricante-valor,
.dados-do-produto-dieta-especial-valor,
.dados-do-produto-componentes-valor {
  font-weight: 400;
}

.dados-do-produto-componentes-valor,
.dados-do-produto-dieta-especial-valor {
  margin-top: 10px;
}
