@use "src/styles/variables.scss" as *;

.card-cadastro-ficha-recebimento {
  .label-peso-embalagem {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    color: #42474a;
    align-items: flex-end;
    padding-bottom: 7.5px;
  }

  .radio-sistema-vedacao {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  #observacoes {
    textarea {
      min-height: 125px;
    }
  }

  .tabela-conferencia-embalagens {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;

    thead tr th {
      text-align: left;
      font-weight: 600;
      color: $green;
      background-color: $grayBackgroundTr;

      border-left: 1px solid $grayDisabled;
      border-bottom: none;
      border-top: none;

      &:first-child {
        border-left: none;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $grayDisabled;
      }

      td {
        border-left: 1px solid $grayDisabled;
      }

      td:first-child {
        border-left: none;
      }
    }
  }
}

.containerSelect {
  margin-top: -4px;
}
