@use "src/styles/variables.scss" as *;

.modal-observacao-diaria {
  label {
    color: $blackInput;
  }

  .data_lancamento_modal {
    opacity: 1;

    &::placeholder {
      color: $blackInput !important;
      opacity: 1;
    }
  }

  .botoes-modal-footer {
    justify-content: space-between !important;

    .botoes-right {
      justify-content: flex-end !important;
    }
  }
}
