.card-cadastro-documento-recebimento {
  .subtitulo {
    color: #0c6b45;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;

    .fa-question-circle {
      color: gray;
    }
  }

  .label-imagem {
    font-size: 12px;
    margin: 0 !important;
  }
}

.aviso-documento {
  background-color: #ffffff !important;
  border-color: #FF7F00 !important;
  color:#D85E00 !important;
  padding: 8px 12px !important;
  font-size: 13px !important;

  i {
    color: #FF7F00 !important;
    font-size: 14px;
  }

  span {
    font-size: 13px !important;
  }
}
